<p id="notice"><%= notice %></p>

<p>
  <strong>Unom:</strong>
  <%= @access_user.unom %>
</p>

<p>
  <strong>Email:</strong>
  <%= @access_user.email %>
</p>

<p>
  <strong>First Name:</strong>
  <%= @access_user.fnom %>
</p>

<p>
  <strong>Middle Name(s):</strong>
  <%= @access_user.mnoms %>
</p>

<p>
  <strong>Last Name:</strong>
  <%= @access_user.lnom %>
</p>

<p>
  <strong>Primary Color:</strong>
  <div style="width: 50px; height: 50px; border: 1px solid black; background-color: <%= @access_user.pcol.color %>;"></div>
</p>

<p>
  <strong>Secondary Color:</strong>
  <div style="width: 50px; height: 50px; border: 1px solid black; background-color: <%= @access_user.scol.color %>;"></div>
</p>

<p>
  <strong>Tertiary Color:</strong>
  <div style="width: 50px; height: 50px; border: 1px solid black; background-color: <%= @access_user.tcol.color %>;"></div>
</p>

<%= link_to 'Settings', edit_user_path(@access_user) %> |
<%= link_to 'Home', '/' %>
