<!DOCTYPE html>
<html>
  <head>
    <title>MyDomain</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <code style="background-color: gray; border: 1px solid black">
      <%= debug request %>
    </code>
  </body>
</html>
