<%= form_for(wof_puzzle) do |f| %>
  <% if wof_puzzle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wof_puzzle.errors.count, "error") %> prohibited this wof_puzzle from being saved:</h2>

      <ul>
      <% wof_puzzle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :puzzle %>
    <%= f.text_field :puzzle %>
  </div>

  <div class="field">
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
